@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Localizer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@Localizer["Title"]</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["CurrentMatches"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addmatch">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["AddMatch"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addtournament">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["AddTournament"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addteam">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["AddTeam"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="match">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Matchlist"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tournament">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Tournamentlist"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="team">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Teamlist"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
