
@page "/addteam"
@using MatchFrontend.Data
@using System.Net.Http
@using System.Web
@using MatchLibrary.ApiModel
@inject NavigationManager NavigationManager
@inject ApiService ApiSrv
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddTournament> Localizer


<h1>@Localizer["TeamCreate"]</h1>

@if (1 == 2)@*(teamList == null || refereeList == null)*@
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
<EditForm Model="@newTeam" OnValidSubmit="@SaveTeam">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <a>@Localizer["Name"]</a>
    <InputText id="txtTeamName" type="text" class="form-control" @bind-Value="newTeam.Name" />
    <ValidationMessage For="@(() => newTeam.Name)" />
    <br />

    <a>@Localizer["Shortname"]</a>
    <InputText id="txtTeamShortname" type="text" class="form-control" @bind-Value="newTeam.Shortname" />
    <ValidationMessage For="@(() => newTeam.Shortname)" />
    <br />

    <a>@Localizer["Shortcut"]</a>
    <InputText id="txtTeamShortcut" type="text" class="form-control" @bind-Value="newTeam.Shortcut" />
    <ValidationMessage For="@(() => newTeam.Shortcut)" />
    <br />

    <a>@Localizer["Teamcaptain"]</a>
    <InputText id="txtTeamTeamcaptain" type="text" class="form-control" @bind-Value="newTeam.Teamcaptain" />
    <ValidationMessage For="@(() => newTeam.Teamcaptain)" />
    <br />

    <a>@Localizer["ViceTeamcaptain"]</a>
    <InputText id="txtTeamViceTeamcaptain" type="text" class="form-control" @bind-Value="newTeam.ViceTeamcaptain" />
    <ValidationMessage For="@(() => newTeam.ViceTeamcaptain)" />
    <br />

    <a>@Localizer["Coach"]</a>
    <InputText id="txtTeamCoach" type="text" class="form-control" @bind-Value="newTeam.Coach" />
    <ValidationMessage For="@(() => newTeam.Coach)" />
    <br />

    <a>@Localizer["Club"]</a>
    <InputText id="txtTeamClub" type="text" class="form-control" @bind-Value="newTeam.Club" />
    <ValidationMessage For="@(() => newTeam.Club)" />
    <br />

    <a>@Localizer["Notes"]</a>
    <InputText id="txtTeamNotes" type="text" class="form-control" @bind-Value="newTeam.Notes" />
    <ValidationMessage For="@(() => newTeam.Notes)" />
    <br />

    <button class="btn btn-primary" type="submit">@Localizer["Save"]</button>
</EditForm>
}

@code {
    private DtoTeam newTeam = new DtoTeam();

    //protected override async Task OnInitializedAsync()
    //{

    //}

    private async void SaveTeam()
    {
        await ApiSrv.AddTeamAsync(newTeam);
        NavigationManager.NavigateTo("/team");
    }
}