
@page "/tournament/{id}"
@using MatchFrontend.Data
@using System.Net.Http
@using System.Web
@using MatchLibrary.ApiModel
@inject NavigationManager NavigationManager
@inject ApiService ApiSrv
@inject Microsoft.Extensions.Localization.IStringLocalizer<ManageTournament> Localizer

@if (Tournament == null || Matches == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <h1>@Localizer["MatchList"]</h1>
    <a href="/addmatch">@Localizer["MatchCreate"]</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Team1"]</th>
                <th>@Localizer["Team2"]</th>
                <th>@Localizer["Timeleft"]</th>
                <th>@Localizer["ScoresTeam1"]</th>
                <th>@Localizer["ScoresTeam2"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Matches != null)
            {
                @foreach (var match in Matches)
                {
                    <tr>
                        <td>@match.NameTeam1</td>
                        <td>@match.NameTeam2</td>
                        <td>@match.TimeLeftSeconds</td>
                        <td>@match.ScoreTeam1</td>
                        <td>@match.ScoreTeam2</td>
                        <td><a href="/match/@match.Id">@Localizer["Manage"]</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <div class="panel border">
        @*<h3>Turnier Details ändern</h3>*@
        <button class="btn btn-primary" @onclick="e => this.EditCollapsed = !this.EditCollapsed">
            @( this.EditCollapsed ? Localizer["ShowDetails"] : Localizer["HideDetails"])
        </button>
        <div class="panel border @(EditCollapsed?"collapse":"")">
            <EditForm Model="@Tournament" OnValidSubmit="@SaveTournament">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <a>@Localizer["Name"]</a>
                <InputText id="txtName" type="text" class="form-control" @bind-Value="Tournament.Name" />
                <ValidationMessage For="@(() => Tournament.Name)" />
                <br />

                <a>@Localizer["Date"]</a>
                <InputDate id="txtDate" type="date" class="form-control" @bind-Value="Tournament.Date" />
                <ValidationMessage For="@(() => Tournament.Date)" />
                <br />

                <a>@Localizer["City"]</a>
                <InputText id="txtCity" type="text" class="form-control" @bind-Value="Tournament.City" />
                <ValidationMessage For="@(() => Tournament.City)" />
                <br />

                <a>@Localizer["Location"]</a>
                <InputText id="txtLocation" type="text" class="form-control" @bind-Value="Tournament.Location" />
                <ValidationMessage For="@(() => Tournament.Location)" />
                <br />

                <a>@Localizer["Organizer"]</a>
                <InputText id="txtOrganisator" type="text" class="form-control" @bind-Value="Tournament.Organisator" />
                <ValidationMessage For="@(() => Tournament.Organisator)" />
                <br />

                <button class="btn btn-primary" type="submit">@Localizer["Save"]</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private DtoTournament Tournament;
    private List<DtoMatch> Matches;
    private bool EditCollapsed = true;

    [Parameter]
    public string Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Tournament = await ApiSrv.GetTournamentAsync(Convert.ToInt32(Id));
        Matches = await ApiSrv.GetMatchListAsync(Tournament.Id) ?? new List<DtoMatch>();
    }

    private async void SaveTournament()
    {
        await ApiSrv.SetTournamentAsync(Tournament);
        NavigationManager.NavigateTo("/tournament");
    }

}