@page "/team/{id:int}"
@using MatchFrontend.Data
@using System.Net.Http
@using System.Web
@using MatchLibrary.ApiModel
@inject NavigationManager NavigationManager
@inject ApiService ApiSrv
@inject Microsoft.Extensions.Localization.IStringLocalizer<ManageTournament> Localizer

@if (Team == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <h1>@Localizer["TeamList"]</h1>
    <a href="/addteam">@Localizer["TeamCreate"]</a>
    <br />
    
    <EditForm Model="@Team" OnValidSubmit="@SaveTeam">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <a>@Localizer["Name"]</a>
        <InputText id="txtName" type="text" class="form-control" @bind-Value="Team.Name" />
        <ValidationMessage For="@(() => Team.Name)" />
        <br />

        <a>@Localizer["Shortname"]</a>
        <InputText id="txtShortname" type="text" class="form-control" @bind-Value="Team.Shortname" />
        <ValidationMessage For="@(() => Team.Shortname)" />
        <br />

        <a>@Localizer["Shortcut"]</a>
        <InputText id="txtShortcut" type="text" class="form-control" @bind-Value="Team.Shortcut" />
        <ValidationMessage For="@(() => Team.Shortcut)" />
        <br />

        <a>@Localizer["Teamcaptain"]</a>
        <InputText id="txtTeamcaptain" type="text" class="form-control" @bind-Value="Team.Teamcaptain" />
        <ValidationMessage For="@(() => Team.Teamcaptain)" />
        <br />

        <a>@Localizer["ViceTeamcaptain"]</a>
        <InputText id="txtViceTeamcaptain" type="text" class="form-control" @bind-Value="Team.ViceTeamcaptain" />
        <ValidationMessage For="@(() => Team.ViceTeamcaptain)" />
        <br />

        <a>@Localizer["Coach"]</a>
        <InputText id="txtCoach" type="text" class="form-control" @bind-Value="Team.Coach" />
        <ValidationMessage For="@(() => Team.Coach)" />
        <br />

        <a>@Localizer["Club"]</a>
        <InputText id="txtClub" type="text" class="form-control" @bind-Value="Team.Club" />
        <ValidationMessage For="@(() => Team.Club)" />
        <br />

        <a>@Localizer["Notes"]</a>
        <InputText id="txtNotes" type="text" class="form-control" @bind-Value="Team.Notes" />
        <ValidationMessage For="@(() => Team.Notes)" />
        <br />

        <button class="btn btn-primary" type="submit">@Localizer["Save"]</button>
    </EditForm>
}

@code {
    private DtoTeam Team;

    [Parameter]
    public int Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Team = await ApiSrv.GetTeamAsync(Id);
    }

    private async void SaveTeam()
    {
        await ApiSrv.SetTeamAsync(Team);
        NavigationManager.NavigateTo("/team");
    }

}